@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    width: 100%;
    height: auto;
    margin: 0px;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
<<<<<<< HEAD
=======
    font-weight: 400;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
    box-sizing: border-box;
    overflow: hidden;    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

.pattern-top {
    position: absolute;
    background: url("images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 978px;
    width: 978px;
<<<<<<< HEAD
    bottom: 38vh;
=======
    bottom: 40vh;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
    right: 52vw;
}

.pattern-bottom {
    position: absolute;
    background: url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 978px;
    width: 978px;
<<<<<<< HEAD
    top: 54vh;
    left: 47vw;
=======
    top: 52vh;
    left: 50vw;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

.profile-card {    
    background-color: white;
    border-radius: 25px;
    position: relative;
<<<<<<< HEAD
    width: 350px;
    height: 400px;  
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.50);
=======
    width: 375px;
    height: 400px;  
    flex-direction: column;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

img { 
    width: 120px;
    border: 7px solid transparent;
    border-radius: 50%;
    border-color: white;
<<<<<<< HEAD
    margin-top: 25%;
=======
    margin-top: 24%;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
 }

.content-1 {
    background-image: url("images/bg-pattern-card.svg");
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
<<<<<<< HEAD
    width: 350px;
=======
    width: 375px;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
    height: 150px;  
    text-align: center;
} 

.content-2 {
    position: absolute;
<<<<<<< HEAD
    width: 350px;
=======
    width: 375px;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
    height: 80px;
    border-bottom: 1px;
    border-bottom-style: inset;
    top: 71%;
<<<<<<< HEAD
    margin-top: -50px;
=======
    left: auto;
    margin-top: -50px;
    text-align: center;
    font-size: 18px;
}

.content-3 {
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

.textleft {
    position: absolute;
    bottom: 30px;
    left: 60px;
}

.textcenter {
    position: absolute;
    bottom: 30px;
    width: 100%;
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

.textright {
    position: absolute;
    bottom: 30px;
    right: 60px;    
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

h2 {
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

p {
    color:hsl(0, 0%, 59%);   
    font-weight: 400;
    text-align: center;
    font-size: 13px;
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
<<<<<<< HEAD
    font-size: 17px;
=======
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}

/* responsive */

@media (max-width: 375px) {
    .pattern-top {
        width: 375px;
        height: 375px;
        top: -30vh;
        left: -50vw;
    }    

    .pattern-bottom {
        height: 375px;
        width: 375px;
        top: 52vh;
        left: 53vw
    }

<<<<<<< HEAD
    .profile-card {
        width: 300px;
    }
    .content-1 {
        width: 300px;
    }
    .content-2 {
        width: 300px;
    }
=======
   /* .container {
        width: auto;;
    }   

    .profile-card {
        width: 70%;
    }
    .content-1 {
        width: auto;
    }
    img {
        width: 100px;
        position: relative;
    }

    .content-2 {
        width: auto;
        text-align: center;
    }
    .content-3 {
        width: auto;
    }*/
>>>>>>> 46bcdba98720c74364552ca7c3e2f8608f8bd6e3
}    